
codigo/db/

codigo/ProyectoFinal.qpf

codigo/ProyectoFinal.qsf

*.bak

codigo/output_files/

codigo/simulation/

*.rpt

codigo/incremental_db/

*.qws

codigo/greybox_tmp/

codigo/Rom.qip

codigo/Rom.v

codigo/Rom_bb.v

arm/VisUAL/
